nav{
    font-size:240%;
    text-align:right;
}

body{
background-color:rgb(229, 253, 184);
}
.container{
    height:auto;
    width:auto;   
margin:0% 0% 0% 25%;
font-size:160%;
}
.sec1,.sec2,.sec3{
    height:auto;
    width:auto;
    float:left;
    line-height:50px;
    margin-right:10%;
}

h1{
    margin:10% 0% 0% 10%;
}

ul li {
    list-style-type:none;
    text-align:center;
    color:blueviolet;
}



ul li:hover{
    color:rgb(226, 43, 58);
    cursor:default;
    transition:color 0.9s;
}



