

.jumbotron {
	background-image:url('./images/image1.jpg');
	text-align:center;
	justify-content: center;
}

#playbutton {
	position:sticky;
	margin:5px 0px 0px -1px;
	font-family:arial;
	text-transform: uppercase;
	text-shadow:0px 2px 1px black;
	animation:glowicon 2s infinite;
	box-shadow:1px 1px 10px 10px black;
}

body{
	background-image:url('./images/image1.jpg');
}

.buttonwrapper {
	height:500px;
	width:200px;
	background-image:linear-gradient(black,purple);
	padding:1%;
	margin:1%;
	float:left;
	border-radius:1%;
	text-align: center;
	color:white;
}


.iconwrapper1{
	position:absolute;
	margin:-23px 10px 10px -80px;
}



.ludoboard {
	background-image:url("./images/LUDO.png");
	background-repeat: no-repeat;
	background-size:650px 600px;
	margin-top:1%;
	height:600px;
	width:650px;
	float:left;
	border-radius:10%;
}


.player1indicator {
background-image:linear-gradient(white,red);
height:60px;
animation:glowicon 2s infinite;
box-shadow: 0px 0px 10px red;
}

.animatedice {
	height:60px;
	width:60px;
	border-radius: 100%;
	animation:animatedice 3s infinite;
	animation-timing-function: ease;
}

@keyframes animatedice {
	0% {background-image:url('./images/black3.PNG');background-repeat:no-repeat;}
	20% {background-image:url('./images/black4.PNG');background-repeat:no-repeat;}
	40% {background-image:url('./images/black6.PNG');background-repeat:no-repeat;}
	60% {background-image:url('./images/black1.PNG');background-repeat:no-repeat;}
	80% {background-image:url('./images/black2.PNG');background-repeat:no-repeat;}
	100% {background-image:url('./images/black5.PNG');background-repeat:no-repeat;}
}


#dice {
	height:60px;
	width:60px;
	margin:283px 0px 0px 366px;
	border-radius:100%;
	position:absolute;
	background-color:white;
}



.icon {
	margin:31.5rem 0rem 0rem 13.6rem;
	position:absolute;
}

.icon2 {
	margin:31.5rem 0rem 0rem 9.8rem;
	position:absolute;
}

.icon3 {
	margin:27.5rem 0rem 0rem 9.8rem;
	position:absolute;
}

.icon4 {
	margin:27.5rem 0rem 0rem 13.7rem;
	position:absolute;
}




#icon {
	background-image:linear-gradient(white,red); 
	height:40px;
	border-radius:100%;
}

#icon2 {
	background-image:linear-gradient(white,red); 
	height:40px;
	border-radius:100%;
}

#icon3 {
	background-image:linear-gradient(white,red); 
	height:40px;
	border-radius:100%;
}

#icon4 {
	background-image:linear-gradient(white,red); 
	height:40px;
	border-radius:100%;
}





.player2icon1 {
	margin:31.5rem 0rem 0rem 35.3rem;
	background:transparent;
	position:absolute;
}
.player2icon2 {
	margin:27.6rem 0rem 0rem 35.3rem;
	background:transparent;
	position:absolute;
}
.player2icon3 {
	margin:27.6rem 0rem 0rem 39.2rem;
	background:transparent;
	position:absolute;
}
.player2icon4 {
	margin:31.5rem 0rem 0rem 39.1rem;
	background:transparent;
	position:absolute;
}





#player2icon1 {
	background-image:linear-gradient(white,blue);
	height:40px;
	border-radius: 100%;
}
#player2icon2 {
	background-image:linear-gradient(white,blue);
	height:40px;
	border-radius: 100%;
}
#player2icon3 {
	background-image:linear-gradient(white,blue);
	height:40px;
	border-radius: 100%;
}
#player2icon4 {
	background-image:linear-gradient(white,blue);
	height:40px;
	border-radius: 100%;
}



.unlocked {
margin:33rem 0rem 0rem 21rem;
 background:transparent;
position:absolute;
}

.unlockedplayer2 {
margin:21rem 0rem 0rem 41.5rem;
 background:transparent;
position:absolute;
}



._1 {
margin:30.5rem 0rem 0rem 21rem;
animation:glowicon 1s infinite;
position:absolute;
}

._2 {
margin:28rem 0rem 0rem 21rem;
animation:glowicon 1s infinite;
position:absolute;
}


._3 {
margin:25.5rem 0rem 0rem 21rem;
animation:glowicon 1s infinite;
position:absolute;
}


._4 {
margin:23rem 0rem 0rem 21rem;
animation:glowicon 1s infinite;
position:absolute;
}

._5 {
margin:21rem 0rem 0rem 18.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._6 {
margin:21rem 0rem 0rem 15.6rem;
animation:glowicon 1s infinite;
position:absolute;
}

._7 {
margin:21rem 0rem 0rem 13rem;
animation:glowicon 1s infinite;
position:absolute;
}


._8 {
margin:21rem 0rem 0rem 10.5rem;
animation:glowicon 1s infinite;
position:absolute;
}


._9 {
margin:21rem 0rem 0rem 8rem;
animation:glowicon 1s infinite;
position:absolute;
}


._10 {
margin:21rem 0rem 0rem 5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._11 {
margin:18.5rem 0rem 0rem 5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._12 {
margin:16rem 0rem 0rem 5rem;
animation:glowicon 1s infinite;
position:absolute;
}


._13 {
margin:16rem 0rem 0rem 8rem;
animation:glowicon 1s infinite;
position:absolute;
}

._14 {
margin:16rem 0rem 0rem 10.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._15 {
margin:16rem 0rem 0rem 13rem;
animation:glowicon 1s infinite;
position:absolute;
}

._16 {
margin:16rem 0rem 0rem 16rem;
animation:glowicon 1s infinite;
position:absolute;
}

._17 {
margin:16rem 0rem 0rem 18.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._18 {
margin:13.5rem 0rem 0rem 21rem;
animation:glowicon 1s infinite;
position:absolute;
}

._19 {
margin:11rem 0rem 0rem 21rem;
animation:glowicon 1s infinite;
position:absolute;
}

._20 {
margin:9rem 0rem 0rem 21rem;
animation:glowicon 1s infinite;
position:absolute;
}

._21 {
margin:6.5rem 0rem 0rem 21rem;
animation:glowicon 1s infinite;
position:absolute;
}


._22 {
margin:4rem 0rem 0rem 21rem;
animation:glowicon 1s infinite;
position:absolute;
}


._23 {
margin:1.5rem 0rem 0rem 21rem;
animation:glowicon 1s infinite;
position:absolute;
}


._24 {
margin:1.5rem 0rem 0rem 23.5rem;
animation:glowicon 1s infinite;
position:absolute;
}


._25 {
margin:1.5rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}

._26 {
margin:4rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}

._27 {
margin:6.5rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}

._28 {
margin:9rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}

._29 {
margin:11rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}

._30 {
margin:13.5rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}

._31 {
margin:16rem 0rem 0rem 29rem;
animation:glowicon 1s infinite;
position:absolute;
}

._32 {
margin:16rem 0rem 0rem 31.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._33 {
margin:16rem 0rem 0rem 34rem;
animation:glowicon 1s infinite;
position:absolute;
}

._34 {
margin:16rem 0rem 0rem 36.5rem;
animation:glowicon 1s infinite;
position:absolute;
}


._35 {
margin:16rem 0rem 0rem 39.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._36 {
margin:16rem 0rem 0rem 42rem;
animation:glowicon 1s infinite;
position:absolute;
}

._37 {
margin:18.5rem 0rem 0rem 42rem;
animation:glowicon 1s infinite;
position:absolute;
}

._38 {
margin:21rem 0rem 0rem 42rem;
animation:glowicon 1s infinite;
position:absolute;
}

._39 {
margin:21rem 0rem 0rem 39.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._40 {
margin:21rem 0rem 0rem 36.7rem;
animation:glowicon 1s infinite;
position:absolute;
}

._41 {
margin:21rem 0rem 0rem 34rem;
animation:glowicon 1s infinite;
position:absolute;
}

._42 {
margin:21rem 0rem 0rem 31.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._43 {
margin:21rem 0rem 0rem 29rem;
animation:glowicon 1s infinite;
position:absolute;
}

._44 {
margin:23.5rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}


._45 {
margin:25.7rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}

._46 {
margin:28.4rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}

._47 {
margin:30.7rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}


._48 {
margin:33.2rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}

._49 {
margin:35.5rem 0rem 0rem 26rem;
animation:glowicon 1s infinite;
position:absolute;
}

._50 {
margin:35.5rem 0rem 0rem 23.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._51 {
margin:33rem 0rem 0rem 23.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._52 {
margin:30.5rem 0rem 0rem 23.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._53 {
margin:28rem 0rem 0rem 23.5rem;
animation:glowicon 1s infinite;
position:absolute;
}

._54 {
margin:26rem 0rem 0rem 23.5rem;
animation:glowicon 1s infinite;
position:absolute;
}


._55 {
margin:23.5rem 0rem 0rem 23.5rem;
animation:glowicon 1s infinite;
position:absolute;
}


._56 {
margin:20rem 0rem 0rem 23.5rem;
position:absolute;
}



@keyframes glowicon {
	0% {opacity:1;}
	25% {opacity:0.5;}
	50% {opacity:0;}
	75% {opacity:0.5;}
	100% {opacity:0.1;}

}


