body{
background: gold;
}

.skewcontainer1{ 
background-image:linear-gradient(red,blue,black);
}

.skewViewContainer{
  margin:10% 0% 0% 30%;
  font-family:calibri;
  padding:0.625rem;
  width:25rem;
  height:auto;
  transform:skew(-55deg,20deg);
  border-radius:10%;
  border-top:0.4375rem solid red;
  border-bottom:0.4375rem solid gold;
  border-right:0.4375rem solid transparent;
  background-image:linear-gradient(red,blue,black);
  animation:changecolor 3s infinite;
  animation-timing-function:ease;
}


@keyframes changecolor {
0% {box-shadow:0.625rem 0.625rem 1.25rem blue;}
25%{box-shadow:0.625rem 0.625rem 1.875rem blue;}
50%{box-shadow:0.625rem 0.625rem 1.25rem blue;}
75%{box-shadow:0.625rem 0.625rem 1.875rem blue;}
100%{box-shadow:0.625rem 0.625rem 1.25rem blue;}
}


.buttonSkew {
  margin:0.1875rem;
  width:5rem;
  height:auto;
  font-Size:90%;
  background:transparent;
  border-radius:10%;
  box-shadow: 0.625rem 0.625rem 0.625rem black ;
  border:0.0625rem solid white;
}

.buttonSkew:hover {
color:red;
text-shadow:0rem 0.0625rem 0.0625rem grey;
background:black;
border:0.0625rem solid red;
border-radius:100%;
}




.inputTypeSkew {
  width:26.7%;
  height:2.5rem;
  border:none;
  font-Size:100%;
  color:black;
  font-family: calibri;
  padding:2%;
  background: transparent;
  font-weight:bolder;
  margin:3%;
}

#input1, #input2 {
  text-align:right;
  width:250px;
}

#input2{
  position:absolute;
  z-index:-1;
}


#operator {
  text-align:left;
  width:50px;
}

::placeholder {
  color:black;
  font-weight:bolder;
}




h1 {
  color:red;
  font-family:calibri;
  font-Size:150%;
  font-weight: bolder;
  text-shadow:0px 3px 1px black;
}

img{
  height:10px;
  float:right;
  margin-right:10px;
}



.normalViewContainer{
  margin:0% 20% 0% 20%;
  text-align: left;
  width:30.5rem;
  height:auto; 
  font-size:120%;
  font-family:calibri;
  padding:30px;
  box-shadow:0px 10px 20px black;
  border-radius:5%;
  background: white;
}

.normalViewButton{
  margin:2%;
  width:3.0625rem;
  height:auto;
  font-Size:100%;
  background:black;
  border-radius:10%;
  box-shadow: 0px 4px 10px grey ;
  border:none;
  color:white;
}


.normalviewinputType {
  margin:6% 0% 6% 0%;
  height:35px;
  font-Size:90%;
  color:black;
  font-family: arial;
  padding:8px;
  border:none;
}

.normalViewButton:hover {
color:red;
font-size:90%;
}

.container1{
 background: gold; 
}

.ThemeChangewrapper{
  height:3.3rem;
  width:4.3rem;
  margin:1% 5% 0% 89%;
  word-wrap:break-word;
  font-family:calibri;
  font-weight:bolder;
  overflow: hidden;
  transition:border-radius 2s;
  background-image:linear-gradient(red, blue);
  font-size:13px;
}

.ThemeChangewrapper:hover{
  border-radius:100%;
}




