
section {
	display:block;
	align-items: center;
	height:auto;
	padding:1%;
}


.clockbody {
	height:200px;
	width:200px;
	margin:10vw 10vw 10vw 15vw; 
	border-radius:100%;
	background-image: linear-gradient(blue,white);
	position:relative;
	border:5px solid black;
	box-shadow:0px 0px 10px 1px white;
}

#secondsHand {
	position:absolute;
	margin:-33px 0px 0px -30px;
	transform:rotate(0deg);
	height:250px;
}
#minuteHand {
	position:absolute;
	margin:-33px 0px 0px -30px;
	transform:rotate(0deg);
	height:250px;
}
#hourHand {
	position:absolute;
	margin:1px 0px 0px 8px;
	transform:rotate(0deg);
	height:180px;
}

.digits {
	float:right;
}

.digits :nth-Child(1){
	margin:0px 0px 0px -101px ;
	color:black;
	position:absolute;
	animation:digitscolorchange 1s infinite;
}

.digits :nth-Child(2){
	margin:77px 0px 0px -15px ;
	color:black;
	position:absolute;
	animation:digitscolorchange 1.1s infinite;
}

.digits :nth-Child(3){
	margin:165px 0px 0px -98px ;
	color:black;
	position:absolute;
	animation:digitscolorchange 1.2s infinite;

}

.digits :nth-Child(4){
	margin:79px 0px 0px -185px ;
	color:black;
	position:absolute;
	animation:digitscolorchange 1.3s infinite;
}

@keyframes digitscolorchange {
	0% {color:black;}
	50% {color:white;}
	75% {color:black;}
	100% {color:white;}
} 


.cardwrapper {
background-image: linear-gradient(230deg,blue,red,white);
}

#hours,#minutes,#seconds {
border-radius:10px; 
height:200px;
min-width:120px;
width:auto;
padding:1%;
border:1px solid black;
box-shadow:0px 0px 10px black;	
font-size:150%;
-webkit-text-stroke:0.2px white;
position:relative;

}

#hours:hover ,#minutes:hover,#seconds:hover {
transition:transform 4s;
border:none;
transform:rotateY(360deg);
box-shadow:0px 0px 10px black;
}

h1 {
	background-image:linear-gradient(red,white);
	text-shadow:2px 4px 3px black;
	-webkit-text-stroke:0.2px white;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

