a, a:active, a:hover {
  text-decoration: none;
  color:cornsilk;
}

::-webkit-scrollbar {
  width:10px;
  display:none;
}
::-webkit-scrollbar-track {
  background:transparent;
  visibility: hidden;
}
::-webkit-scrollbar-thumb {
  background:#FFFF;
  border-radius: 40px;
}

.container{
  display:flex;
  background:#000;
  font-family:Arial, Helvetica, sans-serif;
  color:cornsilk;
  font-weight:bolder;
  cursor:pointer;
  overflow:hidden;
}

.Header {
  list-style-type: none;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-start;
  width:22%;
  height:35vw;
  background:#000;
  color:rgb(211, 206, 219);
  font-size:90%;
  font-weight:bold;
}

.container2 {
background-image:linear-gradient(rgba(173, 72, 72, 0.562), #070707 300px);
height:100vh;
width:77%;
overflow-y: scroll;
}

.profile {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  color:rgb(254, 253, 255);
  text-align:center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bolder;
  font-size:80%;
  position:sticky;
  top:0px;
  padding:1%;
  box-sizing: border-box;
  background:#07070759;
}

.profile>h3, .profile>div{
  height:auto;
  width:auto;
  background:rgba(17, 14, 14, 0.767);
  border:1px solid cornsilk;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin:2% 0% 2% 4%;
  padding:1% 4%;
  font-size:100%;
  letter-spacing: 1px;
  border-radius:50px;
}

.profile>div{
  display:flex;
  align-items:center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:bold;
  font-size:100%;
  justify-content: space-between;
  border:none;
  padding:0.5px;
}

.playlistBanner {
  width:auto;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content:space-around;
  width:auto;
}

  .greeting{
    display:flex;
    flex-direction:row;
    font-size:3vw;
    font-weight:bolder;
    color:cornsilk;
    padding:1%;
  }

  .listWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px 0;
    overflow:hidden;
  }

  .listWrapper section{
    width:48%;
    overflow:hidden;
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    margin:1%;
    border-radius:3px;
    background-color:rgba(102, 76, 76, 0.555);
  }

  .listName {
    padding-left:3%;
    width:60%;
    font-size:90%;
  }


  .Ppbutton {
    visibility:hidden;
    margin-left:4%;
    background:rgb(59, 231, 102);
    padding:4%;
    font-size:60%;
    border-radius:100%;
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.432);
  }


  .recentHeader{
    width:96%;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:1%;
  }

  .recentSection {
    padding:1%;
    width:97%;
    display:flex;
    justify-content: flex-start;
    overflow:hidden;
  }

   .recentSection>section {
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      align-items: flex-start;
      border-radius: 5px;
      padding:3%;
      margin:1.2%;
      background: rgba(65, 57, 57, 0.178);
      transition: background 0.5s;
      font-size:90%;
  }


  .Ppbutton2 {
    transform: translate(13vw, -10vh);
    padding:7%;
  }

   .Ppbutton:after{
    font-family:FontAwesome;font-weight:900;content:"\f04b";
  }

  .recentSection>section:hover .Ppbutton, .listWrapper>section:hover .Ppbutton{
    visibility:visible;
    transition:visibility 0.2s;
  }
  .recentSection>section:hover {
    background: rgba(75, 65, 65, 0.479);
    transition:background 0.5s;
  }
 
  .plContainer {
    display: flex;
    width:80%;
    height:100vh;
    box-sizing: border-box;
    overflow:auto;
    flex-direction: column;
    font-size:90%;
    background-image:linear-gradient(rgba(72, 173, 106, 0.651), rgba(26, 29, 27, 0.966) 60%);   
  }

  .pwall {
    padding:2%;
    width:auto;
    box-shadow:0px 3px 3px rgba(26, 29, 27, 0.685);
  }

  .pwall>div {
    padding:2%;
    width:90%;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .pwall img {
    width:20vw;
    margin-right:3%;
    object-fit:cover;
    box-shadow:0 0 25px rgba(0, 0, 0, 0.432);
  }
  
  .pwall h6 {
    margin:3% 0;
  }

  .pwall h1 {
    font-size:4vw;
    margin:0;
  }

.playList{
  padding:3% 3% 15% 3%;
  display:flex;
  flex-direction: column;
  color:rgba(245, 239, 239, 0.911);
}

.playList>div {
  display: flex;
}

.pheader {
  font-family:Arial, Helvetica, sans-serif;
  font-stretch: condensed;
  padding:2%;
  display: flex;
  justify-content: space-between;
  border-bottom:0.5px solid rgba(172, 163, 163, 0.541);
  position:sticky;
  top:150px;
} 
  
.track {
  padding:2%;
  display: flex;
  justify-content: space-between;
}
.track>div {
  width:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:rgba(245, 239, 239, 0.616);
}
.track:hover{
  background:rgba(172, 163, 163, 0.164);
  border-radius:5px;
}

.trackName {
  width:32vw;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.pheader{
  display:flex;
  justify-content: space-between;
}

.pheader>div:nth-child(1) {
  display: flex;
  width:10%;
  justify-content: space-around;
}
.pheader>div:nth-child(2) {
  display: flex;
  width:40%;
  justify-content: space-between;
}

audio{
  display:none;
}

.audioPlayerComp {
position:fixed;
bottom:0;
left:0;
width:100%;
border-top:0.5px solid rgba(172, 163, 163, 0.541);
font-size: 2vh;
}

.customPlayer {
background:rgb(23, 24, 23);
box-sizing: border-box;
padding:2%;
height:auto;
display:flex;
flex-direction: row;
flex-wrap:wrap;
justify-content:space-between;
}

.customPlayer>div{
  display:flex;
  width:20vw;
  height:8vh;
  justify-content: center;
  align-items: center;
}

.customPlayer>div>p{
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  padding-right:10%;
}


.iconContainer {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconContainer>div:nth-child(1){
  display:flex;
  width:25vw;
  justify-content: space-evenly;
  align-items:center;
}
.iconContainer>div:nth-child(2){
  display:flex;
  width:40vw;
  justify-content: space-between;
}

.range{
  width:80%;
}

.PlayButton {
  border-radius: 100%;
  color:black;
  padding:4%;
  background:white;
}

input[type=range]{
  -webkit-appearance: none;
  background:transparent;
  cursor:pointer;
}

input[type=range]:nth-child(1){
  width:100%;
}

.volume{
  width:40%;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  background:rgba(131, 127, 127, 0.479);
  border-radius:50px;
}

input[type=range]:hover::-webkit-slider-thumb {
  outline: none;
  visibility: visible;
}

input[type=range]::-webkit-slider-thumb {
  visibility: hidden;
  height:10px;
  width:10px;
  border-radius:100%;
  background:white;
  margin-top:-3px;
  -webkit-appearance: none;
}

.FormWrapper {
  width:100%;
  background:rgba(69, 116, 102, 0.219);
  padding:1%;
  display: grid;
  justify-content: center;
  align-items: center;
}

form {
 box-shadow:0 0 3px rgba(58, 116, 202, 0.829);
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 width:100%;
 height:90%;
 overflow: hidden;
 cursor:pointer;
 padding:2%;
}

.FormWrapper input[type] {
  outline:none;
  color:white;
  font-size:16px;
  padding:2%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border:none;
  box-shadow: 0 0 2px rgba(214, 214, 214, 0.527);
  width:100%;
  border-radius: 3px;
  background:rgba(19, 99, 18, 0.322);
}

@media only screen and (max-width:650px) {

    .listWrapper section {
      width:90%;
    }
  
}



