a, a:active, a:hover {
  text-decoration: none;
  color:cornsilk;
}

.container{
  height:auto;
  width:100%;
  display:flex;
  background:#000;
  font-family:Arial, Helvetica, sans-serif;
  color:cornsilk;
  font-weight:bolder;
  cursor:pointer;
  height:100vh;
  overflow:hidden;
}
ul :nth-child(2) {
  margin-top:-10%;
  padding:0;
}

.Header {
  margin:-5% -1%;
  list-style-type: none;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-items:flex-start;
  height:60vh;
  width:22%;
  background:#000;
  color:rgb(211, 206, 219);
  font-size:90%;
  font-weight:bold;
}


.container2{
background-image:linear-gradient(rgba(173, 72, 72, 0.562), #070707 300px);
height:100vh;
width:77%;
overflow-y: scroll;
padding:0% 2%;
}

.profile {
  height:auto;
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  color:rgb(254, 253, 255);
  text-align:center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bolder;
  font-size:80%;
  position:sticky;
  top:0px;
}

.profile>p, .profile>div{
  height:auto;
  width:auto;
  background:#000;
  border:1px solid white;
  margin:2% 3%;
  padding:1% 4%;
  border-radius:50px;
}

.profile>div{
  display:flex;
  align-items:center;
  justify-content: space-between;
  border:none;
  padding:1px;
}

.playlistBanner {
  width:auto;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content:space-around;
  width:auto;
}

  .greeting{
    display:flex;
    flex-direction:row;
    font-size:3vw;
    font-weight:bolder;
    color:cornsilk;
    padding:1%;
  }

  .listWrapper {
    text-align:left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:30vh;
    padding:1% 0%;
    overflow:hidden;
    box-sizing: border-box;
  }

  .listWrapper>section{
    font-size:80%;
    width:34vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    margin:1% 0%;
    box-sizing:border-box;
    padding-right:3%;
    border-radius:5px;
    background-color:rgba(102, 76, 76, 0.555);
  }

  .listimage {
    display: flex;
    width:80%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }


  .Ppbutton {
    visibility:hidden;
    margin-left:4%;
    background:rgb(59, 231, 102);
    padding:4%;
    font-size:60%;
    border-radius:100%;
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.432);
  }


  .recentHeader{
    width:96%;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:1%;
  }

  .recentSection {
    width:100%;
    display:flex;
    justify-content: flex-start;
    overflow:hidden;
  }

  .recentSection>section {
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      align-items: flex-start;
      border-radius: 5px;
      height:40vh;
      padding:3%;
      margin:1%;
      background: rgba(65, 57, 57, 0.178);
      transition: background 0.5s;
  }
  .Ppbutton2 {
    transform: translate(140px, -100px);
    padding:7%;
  }

   .Ppbutton:after{
    font-family:FontAwesome;font-weight:900;content:"\f04b";
  }

  .recentSection>section:hover .Ppbutton, .listWrapper>section:hover .Ppbutton{
    visibility:visible;
    transition:visibility 0.2s;
  }
  .recentSection>section:hover {
    background: rgba(75, 65, 65, 0.479);
    transition:background 0.5s;
  }


audio{
  display:none;
}


.customPlayer {
background:gold;
padding:1%;
height:40px;
width:50%;
display:flex;
flex-wrap:wrap;
flex-direction: row;
justify-content:space-between;
align-items:center;
}

.Icons {
  color:green;
  font-Size:3vw;
}