@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap');


* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: Kaushan Script;
}

::-webkit-scrollbar{
display: none;
}


.header{
  width:100%;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  align-items: center;
  background-color: white;
  padding:1%;
  position:sticky;
  top:0;
  z-index: 1;
}

.header > .logoimage {
height:4vw;
width:4vw;
border-radius: 100%;
transform:skew(40deg, -40deg);
margin-left:10px;
cursor:pointer;
}

ul {
  padding:0;
  margin:0;
  cursor:pointer;
}

li {
  list-style-type:none;
  padding-right:1.5vw;
  color:#e75480;
  font-size:180%;
  text-transform: capitalize;
}

.phone_and_cart_wrapper{
  margin-right:8vh;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}

.phone_wrapper
{
  margin-right:10vh;  
}

.cart_wrapper > .cart_icon {
  background:transparent;
  color:black;
  min-width:20px;
  font-size:150%;
  padding:0;
  outline:none;
}

.bar_icon {
  font-size:250%;
  display: none;
  margin-right:30px;
  background-color: transparent;
  color:#e75480;
  cursor:pointer;
}


.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:90vh;
  text-align: center;
  background-image:url("./images/coverimage.jpg");
  background-size:cover;
}

#cartnotification {
  position: absolute;
  top:10px;
  right:60px;
  background:orange;
  height:25px;
  width:25px;
  border-radius: 100%;
  font-family: arial;
  font-size: 80%;
  padding:2px;
  box-shadow:0px 0px 5px black;
  text-align:center;
}


.banner_heading>span:nth-Child(1){
  font-size:100%;
  text-transform: capitalize;
  color:white;
}
.banner_heading>span:nth-Child(2){
  font-size:170%;
  text-transform: capitalize;
  color:#e75480;
}


.banner> button {
  font-size:130%;
  background-color: transparent;
  border:3px solid black;
}

 .aboutus_wrapper {
background-color: white;
overflow: hidden;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding:40px 1%;
}


.aboutus {
display: flex;
flex-direction: column;
flex-wrap:wrap;
width:40%;
padding:50px 2%;
min-width:400px;
}

.aboutus_image {
height:30vw;
width:40vw;
margin:50px 20px;
}

.aboutus_image>img{
  height:inherit;
  width:inherit;
  position: absolute;
}


.aboutus_image::before {
content:'';
position: absolute;
outline:0.5rem solid gold;
height: inherit;
width: inherit;
transform:translate(-4%, -6%);
transition:transform 1s ease;
}

.aboutus_image:hover::before{
transform:translate(0%, 0%);
transition:all 1s ease;
}


.aboutus p {
margin:20px 0px;
color:grey;
}

.aboutus span:nth-Child(1) {
  font-size:110%;
  text-transform: capitalize;
}

.aboutus span:nth-Child(2) {
  font-size:170%;
  color:#e75480;
  text-transform: capitalize;
}

.aboutus>button {
  width:100px;
  border-radius: 5px;
  background-color: transparent;
  border:1px solid black;
 }


.product-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background:#f0f0f0; 
  padding-top:60px;
}


.catagories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-section>h1{
text-transform: capitalize;
}

.product-section span:nth-Child(2){
font-size:150%;
color:#e75480;
font-weight: bold;
}

.catagories button {
  background:transparent;
  border:1px solid black;
  text-transform: uppercase;
  margin:1.5vw;
}


input[type=search]{
width:23rem;
height:2rem;
border:none;
box-shadow:0px 0px 1px black;
border-radius: 1px;
padding:1%;
}

input[type=search]:focus{
  outline:none; 
}

.search_image {
height:32px;
width:32px;
background:#e75480;
padding:8px;
}



.item_container {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  overflow: hidden;
  padding:30px 0px;
}



.card_wrapper {
  height:23vw;
  width:25vw;
  margin:10px 20px 10px 20px;
  background:white;
  overflow: hidden;
  display: flex;
  flex-wrap:wrap;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
}

.image_wrapper {
  overflow: hidden;
  height:18vw;
  width:inherit;
  transition:transform 1s ease;
  cursor:pointer;
  position: relative;
}

.image_wrapper img {
  transform:scale(1.01, 1.01);
  height:inherit;
  width:inherit;
  object-fit:cover;
  cursor:pointer;
  transition:transform 1s ease;
  position: absolute;
}

.item_name_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:1.5vw;
  font-size:130%;
  text-transform: capitalize;
  position: relative;
  flex-grow: 1;
}




.addtocart::after {
  font-family: "Font Awesome 5 Free";
  content: "\f07a";
  background-color: #f5ee98;
  text-align: left;
  font-weight: 800;
  font-size: 110%;
  height:20%;
  width:20%;
  padding:3%;
  position:absolute;
  top:100%;
  left:100%;
  border-top-left-radius: 30%;
  transition:all 1s ease; 
  cursor:pointer;
}

.image_wrapper:hover img {
 transform:scale(1.1,1.1);
 transition:all 1s ease; 
}

.image_wrapper:hover .addtocart::after {
      transform:translate(-60%, -90%);
      transition:all 1s ease; 
}

.addtocart:hover::after{
  color:white;
  transition:0.7s ease; 
}




li:hover {
  color:black;
  transition:all 1s ease;
}


.cart_wrapper>.cart_icon:hover {
color:#e75480;
}


.aboutus>button:hover, .banner> button:hover, .catagories>button:hover {
  background-color: black;
  color:#e75480;
}




.table-responsive{
  bottom:0;
  position: fixed;
  width:30%;
  height:5%;
  align-self:flex-end;
  z-index: 1;
  border-radius:1px;
  text-transform: capitalize;
  background:white; 
  transition:all 2s ease;
  overflow: hidden;
}

.table-responsive tr td:nth-Child(3) {
 text-align:right;
}

.table thead th:nth-Child(3){
 text-align:right;
}

.totalqty, .quantity {
  width:50px;
  padding:0;
  text-align: center;
  outline:none;
  cursor: auto;
  pointer-events: none;
}

.table-responsive:hover{
    color:white;
    background:#e75480;
    height:80%;
    transition:all 2s ease;
}


@media only screen and (max-width:990px){

  .phone_and_cart_wrapper
  {
    display: none;
  }

  .bar_icon
  {
   display: block; 
  }
  
  .navbar
  {
    display: none;
    margin:0;
    padding-top:0px;
    cursor:pointer;
    opacity:0.8;
  }

  .show
  {
    display: inline;
    overflow: hidden;
    width: 100%;
    height: 170px;
    animation:animate 0.5s 1;
  }

@keyframes animate {
  from {height:0px;}
  to {height:170px;}
}

.hide
  {
    display: inline;
    overflow: hidden;
    width: 100%;
    height:0;
    animation:animate2 0.5s 1;
  }

@keyframes animate2 {
  from {height:170px;}
  to {height:0px;}
}


  .header > .logoimage
  {
   margin-top:10px;
   margin-bottom:10px;
   height:4.5vw;
   width:4.5vw;
   min-height:40px;
   min-width:40px;
  }

  .header {
    padding-bottom:0;
  }

  .product-section {
   padding-top:30px;  
   justify-content: center;
}

.item_container {
  padding: 20px 0% 50px 0%;
  justify-content: center;
}

.card_wrapper{
  height:35vw;
  width:42vw;
}

.image_wrapper, .image_wrapper img {
  height:28vw;
  width:inherit;
}

ul {
font-size:90%;
line-height:55px;
}

}

@media only screen and (max-width:768px){

.catagories {
  margin-bottom:2%;
}

.catagories button{
  margin-right:4vw;
}

.aboutus_image{
  height:310px;
  width:410px;
  margin:30px 20px;
  position: relative;
}

}





@media only screen and (max-width:578px){
  .aboutus_image{
  height:60vw;
  width:80vw;
  margin:30px 20px;
  position: relative;
}

.aboutus{
min-width:70%;
}

  .product-section {
   padding-top:30px;  
   justify-content: center;
}

.item_container {
  padding: 20px 0% 50px 0%;
  justify-content: center;
}

.card_wrapper{
  height:60vw;
  width:70vw;
}

.image_wrapper, .image_wrapper img {
  height:50vw;
  width:inherit;
  background:blue;
}

input[type=search]{
width:60vw;
}

}












